<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true" class="table table-success table-bordered table-striped">
    <caption>List of Brands</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Brand</th>
        </tr>
    </thead>
    <tr *ngFor="let brand of brands">
        <td>{{brand.carBrandId}}</td>
        <td>{{brand.carBrandName}}</td>
    </tr>
</table>
