<!-- <div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true" class="table table-success table-bordered table-striped">
    <caption>List of Cars</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Price</th>
            <th>Year</th>

        </tr>
    </thead>
    <tr *ngFor="let car of cars">
        <td>{{car.carId}}</td>
        <td>{{car.carDescription}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.modelYear}}</td>
    </tr>
</table> -->


  <h4>CAR LIST</h4>

  <div class="mb-3">
    <label for="filterText" class="form-label">Search Car</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="enter search text">
  </div>
<div *ngIf="filterText.length>2" class="alert alert-primary">
  {{filterText}} searched
</div>

<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<app-car-filter></app-car-filter>

<div class="row" *ngIf="dataLoaded==true">
  <div *ngFor="let car of cars | filterPipe:filterText" class="card" style="width: 20rem;">
    <img src="{{imageBasePath}}/{{car.imagePath}}" class="card-img-top" alt="{{car.carDescription}} Image" width="auto" height="200">
    <!-- <img src="https://localhost:44316/uploads/togg.jpg" class="card-img-top" alt="{{car.carDescription}} Image" width="auto" height="auto"> -->
    <div  class="card-body">
      <h5 class="card-title">{{car.carDescription}}</h5>
    </div >
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Brand: {{car.brandName}}</li>
      <li class="list-group-item">Color: {{car.colorName}}</li>
      <li class="list-group-item">Model Year: {{car.modelYear}}</li>
      <li class="list-group-item">Price: {{car.dailyPrice}} TL</li>
      <!-- <li class="list-group-item">Path: {{imageBasePath}}/{{car.imagePath}}</li> -->
    </ul>
    <div class="card-body">
      <section style="float:left">
        <button routerLink="/car/details/{{car.carId}}" type="button" class="btn btn-primary">Details</button>
      </section>
      <section style="float:left">
        <button routerLink="/car/update/{{car.carId}}" type="button" class="btn btn-primary">Update</button>
      </section>
      <section style="float:left">
        <button routerLink="/car/rentals/{{car.carId}}" (click)="addToRentCart(car)" type="button" class="btn btn-primary">Rent</button>
      </section>
      <!-- <div class="btn-group" role="group" aria-label="car detail buttons">
        <button type="button" class="btn btn-secondary">Details</button>
        <button type="button" class="btn btn-secondary">Update</button>
        <button type="button" class="btn btn-secondary">Rent</button>
      </div> -->
    </div>
  </div>
</div>