
<div class="container mt-3 content">
    <div class="col-lg">
        <div class="card">
            <div class="card-header">
                <h4>Update the Color</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="colorUpdateForm">
                    <div class="row mb-3">
                        <div class="col-lg-2">
                            <label for="colorNameInput" class="form-label">Color Name:</label>
                        </div>
                        <div class="col-lg">
                            <input type="text" class="form-control" id="colorNameInput" formControlName="carColorName" placeholder="e.g. Red">                          
                        </div>
                        <!-- <label for="brandId">Select Brand Id:</label>
                        <select class="form-control" id="brandId" formControlName="brandName">
                          <option *ngFor="let brand of brands" [ngValue]="brand.carBrandId">{{brand.carBrandName}}</option>
                        </select> -->
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" (click)="updateColor()" type="button">Update</button>
                  </div>
            </div>
        </div>
    </div>
</div>
