<div *ngIf="dataLoaded==true" id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div>
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <!-- <div *ngFor="let car of carDetail" class="carousel-item active" data-bs-interval="10000"> -->
          <!-- <div *ngFor="let image of images ; index as i;first as firstImage" [ngClass]="{ active: firstImage }" data-bs-interval="2000"> -->
          <div *ngFor="let image of images let i = index" [ngClass]="getSliderClassName(i)" data-bs-interval="1000">
          <img src="{{imageBasePath}}/{{image.imagePath}}" class="d-block w-100" width="800" height="500" alt="Image">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <!-- <div class="carousel-item" data-bs-interval="2000">
          <img src="..." class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div> -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Brand: {{carDetail.car.brandName}}</li>
        <li class="list-group-item">Color: {{carDetail.car.colorName}}</li>
        <li class="list-group-item">Model Year: {{carDetail.car.modelYear}}</li>
        <li class="list-group-item">Price: {{carDetail.car.dailyPrice}} TL</li>
      </ul>
    </div>
    <div class="mb-3">
    <section style="float: left">
      <button routerLink="/car/rentals/{{carDetail.car.carId}}" (click)="addToRentCart(carDetail.car)" type="button" class="btn btn-primary">Rent</button>
    </section>
    <section style="float:left">
      <button routerLink="/car/update/{{carDetail.car.carId}}" type="button" class="btn btn-primary">Update</button>
    </section>
    </div>
  </div>

  <div *ngIf="dataLoaded == true" class="row">
    <style>
      h2 {text-align: center;}
      </style>
    <h2>All Photos</h2>
    <!-- <div *ngFor="let image of carDetail?.carImages" class="col-md-4"> -->
      <div *ngFor="let image of images" class="col-md-4">

      <div class="thumbnail">
        <img
          src="{{imageBasePath}}/{{image.imagePath}}"
          alt="{{imageBasePath}}/{{image.imagePath}} Image"
          style="width: 100%"
        />
      </div>
    </div>
  </div>
