<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Add Car</h5></div>
            <div class="card-body">
                <form [formGroup]="imageAddForm">
                    <div class="mb-3">
                        <label for="carId">Car Id</label>
                        <div class="form-group">
                            <input type="number" 
                            id="carId" 
                            formControlName="carId"
                            class="form-control" 
                            placeholder="Car Id"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="ImageFile">Image file Select</label>
                        <div class="form-group">
                            <input type="file" 
                            id="ImageFile" 
                            formControlName="imagePath"
                            class="form-control" 
                            placeholder="Choose Image File"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="fileDate">File Date</label>
                        <div class="form-group">
                            <input type="date" 
                            id="fileDate" 
                            formControlName="date"
                            class="form-control" 
                            placeholder="Date"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                    <button class="btn btn-fill btn-primary" (click)="addImage()">Add Image</button> 
            </div>
        </div>
    </div>
</div>
